{% load static %}

<head>
    <link rel='stylesheet' href={% static 'accounts/css/modify.css' %}>
</head>

<div id="loading">loading.....</div>
<div style="display:none;" id="main">
{{ errors }} 
<form method='POST' action="{% url 'modify' %}" enctype="multipart/form-data">
    {% csrf_token  %}

<input type='hidden' name='id' value="{{ service.id }}">    
<label name='title'>
<input name='title' value={{ service.title }}>
<label name='category'>
<select name='category'> 
    {% for category in categories %}
    
    <option value="{{ category }}" {%  if category == service.categorie %} selected {% endif %} > {{ category }} </option>
    {% endfor %}
</select> 
<textarea name="description" value="{{ service.description }}">
{{ service.description }}
</textarea>    
<input type='file' id='input_images' multiple style='display : none;' name='photos'>
<button id="add">Ajouter une photo</button>

<div id='images'>



</div>
<input type='submit' name='modify' value='Modify'>


</form>
</div>
<script src={% static 'accounts/js/modify.js' %} ></script>

<script>
    const info={{ imgs|safe }}
    info.forEach((element)=>{
        
       
        retrieve_file(element,input_files,File_list)

    }) 
</script>


