{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'authentification/css/header.css' %}"> 
</head>


<header>
    <div class="header-div">
<span class="logo">Bricole</span>
<nav>
    <a href="" class="hover">Home</a>
    <div id="language">
    <img src="{% static 'authentification/image/globe.png' %}" alt="globe">
    <a href=""> English</a>
    </div>
    <a href="">Contact us</a>
    <a href=""  class="gradient-text">Become an Artisan</a>
    <a href="">Sign in</a>
    <a href=""  id="join">Join</a>
   
</nav>
</div>
</header>
