<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentification/css/home_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
{% include 'header.html' %}
   

<section class="video-section">
    <video  autoplay loop  class="bg-video ">

        <source src="{% static 'authentification/video/bg.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    
    </video> 
  <div class="hero_text">  
<div class="text">
    <h1 class="inspiring">Connecting you <br>
         with the best artisans</h1>

        
        <input type="text" placeholder="Search for Artisans,Services" class="search-bar"> 
        <img src="{% static 'authentification/image/search-logo.png' %}" class="search-icon">
</div>
<div class="suggestion">
<button >Plumbing </button>
    <button > Electrician</button>
  <button > Painter</button>
    <button > Furniture assembly</button>
</div>
<p class="text-search"> A trusted network of skilled artisans available for home repairs, furniture fixes, painting, and other tasks you need help with. Find your perfect match today ....</p>
<div id="read-more_div"><a href="#" id="read-more">Read More</a></div>
</div>
</section>

<section id="category-section">
    <h1>some popular Services</h1>
<div class="category-div">
    <a href="#" class="category"> <img src="{% static 'authentification/image/drywall.png' %}" class="icon"> Fix drywall</a> 
    <a href="#" class="category"> <img src="{% static 'authentification/image/installation.png' %}" class="icon"> Repair doors</a> 
    <a href="#" class="category"> <img src="{% static 'authentification/image/tile.png' %}" class="icon">  Replace tiles</a> 
    <a href="#" class="category"> <img src="{% static 'authentification/image/paint-brush.png' %}" class="icon"> Hang paintings</a>
    <a href="#" class="category"> <img src="{% static 'authentification/image/ceilling.png' %}" class="icon"> Cielns</a> 
    <a href="#" class="category"> <img src="{% static 'authentification/image/monitor.png' %}" class="icon"> Mount TVs</a> 
    <a href="#" class="category"> <img src="{% static 'authentification/image/adapter.png' %}" class="icon"> Change outlets</a> 
   
</div>   
    
</section>
    

<button></button>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section><section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section><section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>
<section>
    <h1>section</h1>
</section>

</body>
<script>
    let element=document.getElementById("category-section")
    
</script>
    