<body>

{% if user.role == "artisan" %}

 {% include "artisan_header.html" %}
 {% else %}

 {% include "header.html" %}
 {% endif %}
 <input type="text" id="search">

<script>
    document.addEventListener("DOMContentLoaded",(e)=>{
        console.log("hello man i hope you are enjoying")
        document.getElementById('search').addEventListener('change',(e)=>{
            value=e.target.value
            console.log("waaaaaaaa")
            const url = new URL("http://127.0.0.1:8000/test/");
            
            url.searchParams.append('key', value);
            window.location.href = url.toString();
        })  
    })
    
</script>
   </body>    